body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(-90deg, #90C8AC, #F5F0BB);
}

header {
    background: linear-gradient(-45deg, #73A9AD, #90C8AC);
    text-align: center;
    padding: 20px;
}

figure {
    margin: 0;
}

figcaption {
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/**************************author********************/
.author-grid {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.author-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.author-image {
    width: 90px;
    height: auto;
    border-radius: 100%;
}

.author-name {
    margin-top: 10px;
    font-weight: bold;
}

/****************************************Footer******************/
footer {
    background-color: #51787a;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    /* Set a high z-index to ensure it's above other content */
}

nav {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover {
    color: black;
}

i {
    font-size: 24px;
}