@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #053B50;
  --second--bg-color: #176B87;
  --text-color: #EEEEEE;
  --main-color: #64CCC5;
  --special-color: #FFC436;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}



/* For nevigation bar - Start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 85px;
  width: 100%;
  background: var(--second--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* Left logo */
.header .leftnav {
  font-size: 50px;
  color: var(--special-color);
  font-weight: 600;
  padding-left: 45px;
}

/* middle navigation bar */
.header .midnav a {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 25px;
  transition: .3s;
}

.header .midnav a:hover,
.header .midnav a.active {
  color: var(--special-color);
}

/* For nevigation bar - END*/



/* For sign in & registration - start , rightnav */
.header .rightnav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-right: 45px;
}

.header .rightnav .sign {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  width: 150px;
  height: 100%;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.header .rightnav .sign:hover {
  color: var(--main-color);
}

.header .rightnav .sign:nth-child(2) {
  background: var(--bg-color);
  color: var(--main-color);
}

.header .rightnav .sign:nth-child(2):hover {
  color: var(--bg-color);
}

.header .rightnav .sign:nth-child(2)::before {
  background: var(--main-color);
}

.header .rightnav .sign::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: .5s;
}

.header .rightnav .sign:hover::before {
  width: 100%;
}

/* For sign in & registration - end */











/* PROJECT_________________START /***************************************************************/
#assignments{
    background-color: var(--white-color);
    padding: 50px 0;
    text-align: left;
  }


  .video h2 {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 24px;
  }
  
  .video a {
    font-size: 18px;
    color: var(--special-color);
    font-weight: 500;
    margin-left: 60px;
    transition: .3s;
  }
  
  .video a:hover{
    color: var(--main-color);
  }


  .srsf h2 {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 24px;
  }
  
  .srsf a {
    font-size: 18px;
    color: var(--special-color);
    font-weight: 500;
    margin-left: 60px;
    transition: .3s;
  }
  
  .srsf a:hover{
    color: var(--main-color);
  }



  .srs h2 {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 24px;
  }
  
  .srs a {
    font-size: 18px;
    color: var(--main-color);
    font-weight: 500;
    margin-left: 60px;
    transition: .3s;
  }
  
  .srs a:hover{
    color: var(--special-color);
  }


  
  
  /* For srs section */
  /* .version-1 h2 {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 24px;
  }
  
  .version-1 a {
    font-size: 18px;
    color: var(--main-color);
    font-weight: 500;
    margin-left: 60px;
    transition: .3s;
  }
  
  .version-1 a:hover{
    color: var(--special-color);
  } */
  
  /* For sdlc section */
  /* .sdlc h2 {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 24px;
  }
  
  .sdlc a {
    font-size: 18px;
    color: var(--main-color);
    font-weight: 500;
    margin-left: 60px;
    transition: .3s;
  }
  
  .sdlc a:hover{
    color: var(--special-color);
  } */